@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato" !important;
}

.main {
  padding-bottom: 2.4rem;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

.headingPrimary {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0;
}

.ant-modal-confirm-content {
  margin-left: 0 !important;
}
